# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# ===============================
# Nuitka build artifacts
# ===============================

# Build folders
build/
dist/
*.build/
*.dist/

# executables
*.exe